@page
@model Pop_Simona_Proiect.Pages.Programari.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ProgramareMedic</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProgramareMedic.ID" />
            <div class="form-group">
                <label asp-for="ProgramareMedic.NumeMedic" class="control-label"></label>
                <input asp-for="ProgramareMedic.NumeMedic" class="form-control" />
                <span asp-validation-for="ProgramareMedic.NumeMedic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProgramareMedic.Specializare" class="control-label"></label>
                <input asp-for="ProgramareMedic.Specializare" class="form-control" />
                <span asp-validation-for="ProgramareMedic.Specializare" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProgramareMedic.PretConsult" class="control-label"></label>
                <input asp-for="ProgramareMedic.PretConsult" class="form-control" />
                <span asp-validation-for="ProgramareMedic.PretConsult" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProgramareMedic.DataConsult" class="control-label"></label>
                <input asp-for="ProgramareMedic.DataConsult" class="form-control" />
                <span asp-validation-for="ProgramareMedic.DataConsult" class="text-danger"></span>
            </div>
            <label asp-for="ProgramareMedic.SpitalID" class="control-label">Nume Spital</label>
            <select asp-for="ProgramareMedic.SpitalID" class="form-control" asp-items="ViewBag.SpitalID">
            </select>
            <span asp-validation-for="ProgramareMedic.SpitalID" class="text-danger"></span>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
